.contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-left {
    border: none;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;

}

.contact-right {
    // border: solid 1px red;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.contact-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33%;
    font-size: 2vw;
    margin-bottom: -100px;
}

.contact-title h1 {
    position: relative;
    display: flex;
    margin-left: 13.5%;
    top: 45%;
    width: 100%;


}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding: 0% 11% 5% 14%;
}

.input-fields {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.msg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    // margin: auto;
}

.message-text {
    font-size: 1vw;
    padding-bottom: 3%;
    font-family: 'Libre Baskerville', serif;
    margin-top: 50px;
    color: $underdog-grey;
}

::-webkit-input-placeholder {
    color: lightgray;

}

::-moz-input-placeholder {
    color: lightgray;
}

::-moz-input-placeholder {
    color: lightgray;
}

.input-fields .input {
    margin: 30px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #f0f0f0;
    font-size: 3vh;
    font-family: 'Libre Baskerville', serif;

}

.msg textarea {
    background: #f0f0f0;
    padding: 130px;
    border: 0;
}

.btn {
    background: transparent;
    text-align: center;
    padding: 15px;
    color: $underdog-grey;
    cursor: pointer;
    text-transform: uppercase;
    width: 30%;
    margin-top: 30px;
    border: 2px solid $underdog-grey;
}

.maps {
    width: 100%;
    height: 63%;
    position: relative;
    flex-direction: row;
}

.info-area {
    width: 100%;
    height: 30%;
    display: flex;
    margin: auto;

}

.text-area {
    width: 60%;
    height: 50%;
    margin: auto;
}

.text-area h1 {
    margin: auto;
    line-height: 2.5;
    font-size: 29px;
}

// .address img {
//     width: 4%;

// }

iframe {
    display: flex;
    margin: auto;
    width: 60%;
}



.location-icon img {
    width: 4%;
}




@media screen and (min-width: 2450px) {
    .maps {
        height: 53%;
    }

    .text-area {
        height: 40%;
    }

}

@media screen and (min-device-width : 360px) and (max-device-width : 768px) {


    .contact-container {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto;
        height: 20vh;
    }

    .contact-title {
        height: 20vh;
    }

    .contact-title h1 {
        top: 0;
        width: auto;
        margin: 0 auto;
        font-size: 30px;
    }



    .message-text h1 {
        font-size: 3vw;
        text-align: center;
    }

    .msg {
        height: 100vh;
    }



    .input-fields {
        margin-bottom: 200px;
    }



    // .contact-left {
    //     // border: none;
    //     // display: flex;
    //     // width: 99%;
    //     // height: 0;
    //     // flex-direction: column;

    // }

    .msg textarea {
        width: 100%;
        height: 20vh;
        padding: 20%;

    }

    .message-text {
        margin-top: 30px;
    }

    .contact-right {
        display: none;
    }

    .btn {
        width: 50%;

        margin: 30px auto;
    }
}