.glider,
.glider-contain {
    margin: auto;
    position: relative
}

.glider-contain {
    width: 85% !important;
    margin-top: 4%;
    margin-bottom: 5%;

}

.glider-contain h1 {
    font-size: 4em;
    font-weight: normal;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    letter-spacing: 11px;
}

.glider,
.glider-track {
    transform: translateZ(0)
}

.glider-dot,
.glider-next,
.glider-prev {
    border: 0;
    padding: 0;
    user-select: none;
    outline: 0
}



.glider-contain h1 {
    text-align: center;
    color: $underdog-grey;
    font-size: 2vw;
    margin-top: 4vh;
}

.carousel {
    padding-top: 150px;
}

.glider {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

.glider-track {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1
}

.glider.draggable {
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab
}

.glider.draggable .glider-slide img {
    user-select: none;
    pointer-events: none;
    width: 6vw;
    margin-top: 50px;
}

.glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.glider-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 150px
}

.glider-slide img {

    margin-top: 3vh;


}

.glider::-webkit-scrollbar {
    opacity: 0;
    height: 0
}

.glider-next,
.glider-prev {
    position: absolute;
    background: 0 0;
    z-index: 2;
    font-size: 60px;
    text-decoration: none;
    left: -23px;
    top: 40%;
    cursor: pointer;
    color: #666;
    opacity: 1;
    line-height: 1;
    transition: opacity .5s cubic-bezier(.17, .67, .83, .67), color .5s cubic-bezier(.17, .67, .83, .67)
}

.glider-next:focus,
.glider-next:hover,
.glider-prev:focus,
.glider-prev:hover {
    color: #ccc
}

.glider-next {
    right: -23px;
    left: auto
}

.glider-next.disabled,
.glider-prev.disabled {
    opacity: .25;
    color: #666;
    cursor: default
}

.glider-hide {
    opacity: 0
}

.glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    display: none;
}

.glider-dot {
    display: block;
    cursor: pointer;
    color: #ccc;
    border-radius: 999px;
    background: #ccc;
    width: 12px;
    height: 12px;
    margin: 7px
}

.glider-dot:focus,
.glider-dot:hover {
    background: #ddd
}

.glider-dot.active {
    background: #a89cc8
}


.carousel {
    margin: auto;
}

figure {
    background: white !important;
    display: block;
    margin: 1.5em;
    padding: .7em;

}

blockquote {
    padding: 7em;
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: -80px;
    margin-top: 3vh;

}

figcaption {
    text-align: center;
    margin-bottom: 1em;
}

figcaption p {
    padding-top: 5px;
    font-size: 15px;
}

figcaption svg {
    width: 40px;
}

.underdog-glider-text h1 {
    font-size: 6em;
    margin-top: 20px;
}

@media screen and (min-device-width : 360px) and (max-device-width : 768px) {
    .glider::-webkit-scrollbar {
        opacity: 1;
        -webkit-appearance: none;
        width: 7px;
        height: 3px
    }

    .glider::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 99px;
        background-color: rgba(156, 156, 156, .25);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .25);
        box-shadow: 0 0 1px rgba(255, 255, 255, .25)
    }

    .glider-prev {
        display: none;
    }

    .glider-next {
        display: none;
    }

    .glider-contain h1 {
        font-size: 30px;
        margin-top: -5vh;
        color: $underdog-grey;
    }

    .glider-dots {
        user-select: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 0;

    }

    .glider-slide img {
        margin-top: 9vh;
        width: 8rem;
    }
}