.splash {
    width: 100%;
    height: 100vh;
    background-image: url(/images/mainbg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 76vh;

}

.logo h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: inherit;
    letter-spacing: 6.5px;
    color: #707070;
    position: absolute;
    top: 7.2rem;
    left: 8.5rem;
    // display: none;

}

.divider {
    position: absolute;
    top: 89px;
    left: 86px;
    z-index: -10;
    display: none;

}

.main-text {
    display: flex;
}

.bold {
    position: absolute;
    top: 316px;
    left: 178px;
    line-height: 1;
    display: flex;
    flex-direction: column;


}

.bold h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 39px;
    font-weight: 1;
}

.body-text {
    font-size: 26px;
    letter-spacing: 1px;
}

.logos {
    // display: flex;
    flex-direction: row;
    width: 50%;
    display: none;
}

.logo-group {
    display: flex;
    flex-direction: row;
    width: 50%;
}




@media screen and (min-device-width : 360px) and (max-device-width : 768px) {
    .logo h1 {
        top: 7.5rem;
        left: 1.5rem;
        // display: none;

    }

    .splash {
        width: 100%;
        height: 100vh;
        background-image: url(/images/mainbg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 45vh;

    }

    .divider {
        display: none;
    }

    .bold {
        position: absolute;
        top: 116px;
        left: auto;
        line-height: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .bold h1 {
        margin: auto;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 1;
        text-align: center;
    }

    .body-text {
        display: none;
    }
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .logo h1 {
        top: 7.5rem;
        left: 1.5rem;
        // display: none;

    }

    .splash {
        width: 100%;
        height: 100vh;
        background-image: url(/images/mainbg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 56vh;

    }

    .divider {
        display: none;
    }


}