.container {
    width: 100%;
    height: 100%;
    overflow:hidden;


}

.logo {
    position: absolute;
    top: 6vh;
    left: 7vw;
}

.logo a {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    font-weight: initial;
    letter-spacing: 6.5px;
    color: #707070;


}

.divider {
    position: absolute;
    top: 89px;
    left: 86px;
    z-index: -10;
    display: none;

}

.head-text {
    display: flex;

}

// .stripe {
//     position: absolute;
//     right: 105%;
//     top: 3%;
// }

.text1 {
    display: flex;
    // margin-bottom: 24vw;
    position: fixed;
    flex-direction: column;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    width: 40%;
    top: 29%;
    left: 11vw;
}

.text1 h1 {
    font-size: 2.2vw;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 5vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.text1 p {
    font-size: 1.4vw;
    margin-top: 15px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}


.logos {
    display: flex;
    width: auto;
    //     position: absolute;
    //     // top: 90vh;
    //     margin: auto;
    // 
}

.logo-group {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    margin: 0 23% 2% 7%;
}

.logo-group img {
    width: 12%;
    height: auto;
    margin: auto;
    opacity: .8;
}

.logos-box {
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 0;
    left:-40px;
}

// .logo-group :nth-child(3) {
//     width: 5.5%;
// }

// .logo-group :nth-child(4) {
//     width: 5.5%;
// }

// .logo-group :nth-child(5) {
//     width: 7%;
// }

// .logo-group :nth-child(6) {
//     width: 5.5%;
// }

.player iframe {
    margin: auto;
}

.udlogo img {
    display: none;
}

.vid{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    clip-path: polygon(56% 0%, 100% 0%, 100% 100%, 65% 100%, 53% 45%);

}

.vid:hover .controls{
    transform: translateY(0);
}


 video{
    height: 100vh;
    position: relative;
    z-index: -1;
    left: 28%;
    overflow: hidden ;

}

.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 37%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-10px);
    transition: all .2s;
}

.buttons{
padding: 10px;
padding-left: 40px;
}

.buttons button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}



.buttons button::before{
    content: url(/images/play.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    color: white;
    font-size: 28px;
    -webkit-font-smoothing:antialiased;
}

.buttons button.play:before{
    content: url(/images/pause.png);;
}

.buttons button.pause:before{
    content: url(/images/play.png);
    color: white;
}

.orange-bar{
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

.orange-juice{
    height: 10px;
    background-color: white;
}



// imac
@media screen and (min-width: 2450px) {
    .container {
        width: 100%;
        height: 100vh;
    }

    .logos-box {
        width: 100%;
        // height: 100vh;
        display: flex;
        justify-content: left;
        position: absolute;
        bottom: 0%;
    }

    .vid{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        position: relative;
        clip-path: polygon(56% 0%, 100% 0%, 100% 100%, 65% 100%, 53% 45%);

    }

    .vid:hover .controls{
        transform: translateY(0);
    }


     video{
        height: 100vh;
        position: relative;
        z-index: -1;
        left: 20%;
        overflow: hidden ;

    }

    .controls{
        display: flex;
        position: absolute;
        bottom: 0;
        width: 37%;
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.7);
        transform: translateY(100%) translateY(-10px);
        transition: all .2s;
    }
    
    .buttons{
    padding: 10px;
    padding-left: 50px;
    }

    .buttons button{
        background: none;
        border: 0;
        outline: 0;
        cursor: pointer;
    }

  

    .buttons button::before{
        content: url(/images/play.png);
        width: 30px;
        height: 30px;
        display: inline-block;
        color: white;
        font-size: 28px;
        -webkit-font-smoothing:antialiased;
    }

    .buttons button.play:before{
        content: url(/images/pause.png);;
    }

    .buttons button.pause:before{
        content: url(/images/play.png);
        color: white;
    }

    .orange-bar{
        height: 10px;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
    }

    .orange-juice{
        height: 10px;
        background-color: white;
    }




}


// 5% 23% 2% 7%;
//Iphone
@media screen and (min-device-width : 360px) and (max-device-width : 500px) {


.vid{
    display: none;
}
    .container {
        height: 100vh;
    }

    .a h1 {
        font-size: 17px;
        padding: 11vw;
        float: left;
        display: flex;
        justify-content: center;
    }

    .text1 {
        display: none;
        margin: auto;
        position: absolute;
        top: 75vh;
        left: 22vw;
        flex-direction: column;
        line-height: 1;
    }

    .text1 h1 {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 1000;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    .text1 p {
        font-size: 12px;
        margin-top: 10px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    .stripe {
        display: none;
    }

    .logos-box {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 10vh;
        margin: auto;
    }

    .logos {
        display: flex;
        width: auto;
    }

    .logo-group {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 8% 10% 10% 10%;
    }

    .logo-group img {
        width: 15%;
        height: auto;
        margin: auto;
    }



    .mission {

        margin-top: 0%;
        height: 100vh;
    }

    .udlogo {
        display: none;
    }

    .logo {
        top: 5.5vh;
    }


}

//Ipad
@media screen and (min-device-width : 500px) and (max-device-width : 1100px) {
.vid{
    display: none;
}
    .container {
        height: 73vh;
        width: 100%;

    }

    .logos {
        display: flex;
        width: auto;
        margin: auto;
    }

    .logos-box {
        bottom: 60px
    }

    .logo-group {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-around;
        margin: auto;
    }

    .mission-text h1 {
        font-size: 18px;
        margin: auto;
        padding-bottom: 30px;
        padding-top: 50px
    }


    .logo h1 {
        font-family: 'Libre Baskerville', serif;
        font-size: 2.8em;
        font-weight: initial;
        letter-spacing: 6.5px;
        color: #707070;
        position: absolute;
        top: .3vh;
        left: 2.5rem;

    }

    .text1 {
        display: flex;
        margin: auto;
        position: relative;
        top: 22vh;
        left: 0;
        flex-direction: column;
        line-height: 1;
        font-family: 'Blinker', sans-serif;
        text-align: center;
        width: 80%;
    }

    .text1 h1 {
        font-size: 5vw;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    .text1 p {
        font-size: 3.7vw;
        margin-top: 15px;
        font-weight: 300;
        font-family: 'Didact Gothic', sans-serif;
    }

    .udlogo {
        display: inline;
    }

    .udlogo img {
        display: block;
        width: 50px !important;
        margin: 50px auto !important;
    }

    .stripe {
        display: none;
    }
}