.container {
    height: 100vh;
}

.logo h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.8em;
    font-weight: initial;
    letter-spacing: 6.5px;
    color: #707070;
    position: absolute;
    top: 11vh;
    left: 13.5rem;

}

.divider {
    position: absolute;
    top: 89px;
    left: 86px;
    z-index: -10;
    display: none;

}

.head-text {
    display: flex;

}

.stripe {
    position: absolute;
    right: 102%;
    top: 0%;
}

.text1 {
    display: flex;
    margin: auto;
    position: absolute;
    top: 32vh;
    left: 15vw;
    flex-direction: column;
    line-height: 1;
    font-family: 'Blinker', sans-serif;
}

.text1 h1 {
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.text1 p {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 300;
    font-family: 'Didact Gothic', sans-serif;
}


.logos {
    display: flex;
    width: auto;
    position: absolute;
    top: 90vh;
    margin: auto;
}

.logo-group {
    display: flex;
    flex-direction: row;
    width: 71vw;
    justify-content: space-between;
    margin: 0 4%;
}

.logo-group img {
    width: 8%;
    height: auto;
    margin: auto;
    opacity: .8;
}

.logo-group :nth-child(3) {
    width: 5.5%;
}

.logo-group :nth-child(4) {
    width: 5.5%;
}

.logo-group :nth-child(5) {
    width: 7%;
}

.logo-group :nth-child(6) {
    width: 5.5%;
}

.player iframe {
    margin: auto;
}





@media screen and (min-device-width : 360px) and (max-device-width : 768px) {
    .logo h1 {
        top: 4.5rem;
        left: 2.5rem;
    }

    .head-text {
        display: none;
    }

    .text1 {
        display: flex;
        margin: auto;
        position: absolute;
        top: 32vh;
        left: 15vw;
        flex-direction: column;
        line-height: 1;
    }

    .text1 h1 {
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 1000;
        font-family: 'Poppins', sans-serif;
    }

    .text1 p {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    .logos {
        display: flex;
        width: auto;
        position: absolute;
        top: 87vh;
        margin: auto;
    }

    .logo-group {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px 5%;
    }

    .logo-group img {
        width: 12%;
        height: auto;
        margin: auto;
    }

    .logo-group :nth-child(3) {
        width: 5.5%;
    }

    .logo-group :nth-child(4) {
        width: 5.5%;
    }

    .logo-group :nth-child(5) {
        width: 7%;
    }

    .logo-group :nth-child(6) {
        width: 5.5%;
    }

    .mission {

        margin-top: 0%;
        height: 100vh;
    }
}

//Ipad
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .logos {
        display: flex;
        width: auto;
        position: absolute;
        top: 115vh;
        margin: auto;
    }

    .mission-text h1 {
        font-size: 18px;
        margin: auto;
        padding-bottom: 30px;
        padding-top: 220px;
    }
}