.juicer {
    height: 50vh;
    margin: auto;
}

.juicer-container {
    width: 100%;
    height: 50vh;
    margin: auto;

}

.juicer-text {
    margin: auto;
    text-align: center;
    padding-top: 12%;

}