@import 'variables';

a {
    text-decoration: none;
}

.hamburger {
    position: fixed;
    top: 6rem;
    right: 9rem;
    padding: .5rem;
    cursor: pointer;
    z-index: 2000;
}

.hamburger i {
    font-size: 2rem;

}


.times {
    display: none;
}

header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
    transform: translate(-100%, .100%);
    opacity: 0;
    z-index: 999;
    transition: opacity .6s, transform .2s .6s;
}


.sidebar {
    background: url(/images/Underdog_menubg.png) center center no-repeat;
    background-size: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform .6s linear;
    background-color: white;
}

.nav-list {
    list-style: none;
    text-align: center;
    margin: auto;
}

.nav-item {
    position: relative;
}

.nav-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
}

.nav-link {
    display: block;
    font-size: 4.3rem;
    color: black;
    text-transform: uppercase;
    line-height: 15rem;
    letter-spacing: 3px;
    transition: color .6s;
}

.nav-link:hover {
    color: rgba(131, 131, 131, 0.8);
}

.nav-link.current {
    color: $underdog-gold;
}

.nav-link i {
    font-size: 2rem;
    margin-right: 1rem;
}

.social-media {
    display: flex;
    margin: 0 auto;
    width: 25%;
    position: absolute;
    bottom: 30px;
    left: 38%;
}

.icon-link {
    font-size: 2.5rem;
    color: #e1e1e1;
    margin: auto;
    transition: background-color .6s;
}

.icon-link:hover {
    color: gray;
}

.icon-link i {
    color: rgba(255, 255, 255, .8);
}

main {
    perspective: 100rem;
}

.zoom-content {
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}



.active .times {
    display: block;
}

.active .bars {
    display: none;
}

header .active::before {
    transform: translateX(0, 0);
    opacity: 1;
    transition: opacity .6s;
}

.active .sidebar {
    transform: translateX(0);
}

.active .zoom-content {
    transform: translate3d(0, 0, );

}

/*IPAD*/
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .nav-link {
        display: block;
        font-size: 2.3rem;
        color: black;
        text-transform: uppercase;
        line-height: 15rem;
        letter-spacing: 3px;
        transition: color .6s;
    }

    .hamburger {
        position: fixed;
        top: 6rem;
        right: 9rem;
        padding: .5rem;
        cursor: pointer;
        z-index: 2000;

    }

    .social-media {
        width: auto;

    }

    .nav-list {
        line-height: 30px;
        width: auto;
        margin: 20% auto;
    }

    .nav-item {
        line-height: 1.5px;
    }

    .social-media {
        display: flex;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 0;
    }

    .sidebar {
        width: 100%;
    }

    .icon-link {
        font-size: 2.5rem;
        color: #e1e1e1;
        margin: auto;
        transition: background-color .6s;
    }

    .icon-link:hover {
        color: gray;
    }

    .icon-link i {
        color: rgba(255, 255, 255, .8);
    }

}


/*Iphone*/
@media screen and (min-device-width : 360px) and (max-device-width : 768px) {
    .nav-link {
        display: block;
        font-size: 2.3rem;
        color: black;
        text-transform: uppercase;
        line-height: 15rem;
        letter-spacing: 3px;
        transition: color .6s;
    }

    .hamburger {
        top: 6.9rem;
        right: 1.5rem;
    }

    .hamburger img {
        width: 70%;
    }

    .social-media {
        width: auto;

    }

    .nav-list {
        line-height: 15px;
        width: auto;
        margin: auto;
    }

    .nav-item {
        line-height: 1.5px;
    }

    .social-media {
        display: flex;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        // bottom: 30px;
        left: 0;
    }

    .sidebar {
        width: 100%;
    }

}