.quote-text {
    margin: 10% 10% 0 10%;
    background-image: url(/images/Underdog_menubg.png) center;
    background-size: 200px;

}


.quote-text h1 {
    text-align: center;
    margin-top: 250px;
    margin-bottom: -40px;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
}


.quote-text h2 {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    ;
}



// imac
@media screen and (min-width: 2450px) {
    .quote-text h1 {
        text-align: center;
        margin-top: 250px;
        margin-bottom: 50px;
        font-size: 60px;

    }

    .quote-text h2 {
        text-align: center;
        margin-top: 250px;
        margin-bottom: 50px;
        font-size: 60px;
        font-family: 'Raleway', sans-serif;
    }



}


@media screen and (min-device-width : 360px) and (max-device-width : 768px) {

    .quote-text h1 {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 50px;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
    }

    .quote-text h2 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
    }

}