.services-container {
    // background-color: lightgray;
    width: 86%;
    height: 110vh;
    margin: auto;
}

.services-text-container {
    // background-color: red;
    width: 80%;
    margin: auto;
    height: 90%;
    position: relative;
    top: 18%;
    margin-top: -100px;
}

.services-text-container h1 {
    text-align: center;
    font-size: 3vw;
    position: relative;
    top: 10%;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;

}

.services-text-container h2 {
    text-align: center;
    font-size: 2vw;
    position: relative;
    top: 30%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.whatwedo {
    // background-color: green;
    width: 80%;
    height: 10%;
    // position: absolute;
    // left: 10%;
    // right: 10%;
    z-index: 1000;
    font-size: 60px;
    top: 80%;

}

.whatwedo h1 {
    text-align: center;
    width: auto;
    padding-top: 25px;
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding-bottom: 150px;
}

.whatwedo-container {
    // background-color: purple;
    width: 86%;
    height: 50%;
    // position: absolute;
    // left: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4% 8% 0% 8%;
    margin: auto;

}

.service-box {
    max-width: 33.33%;
    padding: 5% 8%;
    text-align: center;
    margin: auto;


}

.service-icon {
    display: inline-block;

}

.service-icon i {
    line-height: 70px;
    font-size: 26px;


}

.service-title {
    font-size: 45px;
    margin-bottom: 10px;
    font-family: 'baskerville';
    padding-top: 50px;
    font-weight: 500x;
}

.service-desc {
    font-size: 14px;
    font-family: 'Raleway';
    padding-top: 10px;
    line-height: 1.8;

}

.icon img {
    width: 100%;
}

.how-container {
    width: 85%;
    margin: auto;
    height: 20vh;
    display: flex;
}

.how-container h1 {
    display: flex;
    margin: auto;
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 0;
}

.how-container2 {
    width: 85%;
    margin: auto;
    display: flex;

}

.how-container2 h1 {
    display: flex;
    margin: 100px auto;
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 300;

}

.method-container {
    width: 76%;
    margin: auto;
    flex-direction: column;
    display: flex;
}

.method-box {
    width: 76%;
    margin: 200px auto;
    display: flex;
    flex-direction: row;
}

.method-box-odd {
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.method-image {
    width: 80%;
}

.method-container img {
    display: flex;
    width: 50%;
}

.method-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

}

.method-image {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.method-container img {
    display: flex;
    width: 70%;
}

.method-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;


}

.method-text h1 {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;

}

.method-text p {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-align: justify;
    text-justify: distribute;
    line-height: 1.5;

}


.method-container-odd img {
    display: flex;
    width: 50%;
}

.method-text-odd {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

}

.method-image-odd {
    width: 80%;
    display: flex;
    justify-content: end;
}


.method-text-odd h1 {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.method-text-odd p {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-align: justify;
    text-justify: distribute;
    line-height: 1.5;

}









//Imac
@media screen and (min-width: 2450px) {
    .services-container {
        // background-color: orange;
        width: 86%;
        height: 100vh;
        margin: auto;
    }

    .services-text-container {
        // background-color: red;
        width: 80%;
        margin: auto;
    }

    .services-text-container h1 {
        text-align: center;
        font-size: 2vw;
        position: relative;
        top: 10%;
    }

    .services-text-container h2 {
        text-align: center;
        font-size: 2vw;
        position: relative;
        top: 25%;
        line-height: 1.5;
    }

    .whatwedo {
        width: 80%;
        height: 60%;

        z-index: 1000;
        top: 80%;
        -webkit-animation: moving 5s infinite;
        animation: moving 5s infinite;
        animation-iteration-count: 1;

    }


    .whatwedo h1 {
        text-align: center;
        width: auto;
        padding-top: 30px;
        font-size: 90px;
        padding-bottom: 150px;
    }



    .whatwedo-container {
        // background-color: purple;
        width: 84%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -100px;
        padding: 4% 8% 0% 8%;


    }

    .service-box {
        max-width: 33.33%;
        padding: 5% 8%;
        text-align: center;

    }

    .service-icon {
        display: inline-block;
    }

    .service-icon i {
        line-height: 70px;
        font-size: 26px;


    }

    .service-title {
        font-size: 45px;
        margin-bottom: 10px;
        font-weight: 100;

    }

    .service-desc {
        font-size: 14px;
        line-height: 1.8;

    }

    .icon img {
        width: 200px;
    }

    .how-container {
        width: 85%;
        margin: auto;
        height: 30vh;
        display: flex;
    }

    .how-container h1 {
        display: flex;
        margin: auto;
        font-size: 90px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: 300;
        margin-top: 0;
    }

    .how-container2 {
        width: 85%;
        margin: auto;
        height: 50vh;
        display: flex;
    }

    .how-container2 h1 {
        display: flex;
        margin: 250px auto;
        font-size: 90px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: 300;

    }



    .method-box {
        width: 56%;
        margin: 150px auto;
        display: flex;
        flex-direction: row;
    }

    .method-box-odd {
        width: 56%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
    }

    .method-text {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;



    }

    .method-text h1 {
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;

    }

    .method-text p {
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        text-align: justify;
        text-justify: distribute;
        line-height: 1.5;

    }

    .method-container {
        margin-top: -150px;
    }


}

//tablet
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .services-container {
        // background-color: green;
        width: 86%;
        height: 100vh;
        margin: auto;
    }

    .services-text-container {
        // background-color: red;
        width: 80%;
        margin: auto;
        position: relative;
    }

    .services-text-container h1 {
        text-align: center;
        font-size: 3vw;
        position: relative;
        top: 10%;
    }

    .services-text-container h2 {
        text-align: center;
        font-size: 2vw;
        position: relative;
        top: 20%;
    }

    .whatwedo {
        // background-color: green;
        width: 80%;
        height: 10%;
        // position: absolute;
        left: 10%;
        right: 10%;
        z-index: 1000;
        top: 80%;
    }

    .whatwedo-container {
        // background-color: 
        width: 86%;
        height: 100%;
        // position: absolute;
        // left: 7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .service-box {
        max-width: 50%;
        padding: 8%;
        text-align: center;

    }

    .service-icon {
        display: inline-block;
    }

    .service-icon i {
        line-height: 70px;
        font-size: 26px;


    }

    .service-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .service-desc {
        font-size: 14px;

    }

    .icon img {
        width: 150px;
    }

    .how-container {
        width: 85%;
        margin: auto;
        height: 40vh;
        display: flex;
    }

    .how-container h1 {
        display: flex;
        margin: auto;
        font-size: 90px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: 300;
    }


    .method-container {
        width: 76%;
        margin: auto;
        flex-direction: column;
        display: flex;

    }

    .method-box {
        width: 76%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .method-box-odd {
        flex-direction: column;
    }

    .method-image {
        width: 80%;
    }

    .method-container img {
        display: flex;
        width: 65%;
    }

    .method-text {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

    }

    .method-image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .method-container img {
        display: flex;
        width: 50%;
    }

    .method-text {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        margin-bottom: 70px;


    }

    .method-text h1 {
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;

    }

    .method-text p {
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        text-align: justify;
        text-justify: distribute;

    }

    .method-text p {
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        text-align: justify;
        text-justify: distribute;

    }
}

//Iphone
@media screen and (min-device-width : 360px) and (max-device-width : 768px) {
    .services-container {
        width: 86%;
        height: 40vh;
        margin: auto;
        padding-top: 110px;
    }

    .services-text-container {
        width: 86%;
        margin: auto;
    }

    .services-text-container h1 {
        text-align: center;
        font-size: 7vw;
        position: relative;
        top: 10%;
        padding-bottom: 20px;

        ;
    }

    .services-text-container h2 {

        font-size: 3vw;
        position: relative;
        top: 20%;

    }

    .whatwedo {
        // background-color: green;
        width: 80%;
        height: 10%;
        // position: absolute;
        // left: 10%;
        // right: 10%;
        z-index: 1000;
        top: 80%;
    }

    .whatwedo h1 {
        text-align: center;
        width: auto;
        padding-top: 14px;
        font-size: 30px;
    }

    .whatwedo-container {
        width: 86%;
        height: 350%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }

    .service-box {
        max-width: 100%;
        padding: 5%;
        text-align: center;
        margin-bottom: 40px;


    }

    .service-icon {
        display: inline-block;

    }

    .service-icon i {
        line-height: 70px;
        font-size: 26px;


    }

    .service-title {
        font-size: 30px;
        margin-bottom: 10px;
        padding-top: 0;
    }

    .service-desc {
        font-size: 14px;

    }

    .icon img {
        width: 150px;
    }

    .how-container {
        width: 85%;
        margin: auto;
        height: 40vh;
        background-color: none;
        display: flex;
    }

    .how-container h1 {
        display: flex;
        margin: auto;
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: 300;
    }

    .how-container2 h1 {
        font-size: 50px;
    }


    .method-container {
        width: 86%;
        margin: auto;

        display: flex;
    }

    .method-box {
        width: 86%;
        margin: 170px auto;
        display: flex;
        flex-direction: column;
    }

    .method-image {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .method-container img {
        display: flex;
        width: 50%;
    }

    .method-text {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

    }


    .method-container img {
        display: flex;
        width: 50%;
    }

    .method-text h1 {
        display: flex;
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        text-align: center;
        margin: 30px auto;
        font-weight: 1;

    }

    .method-text p {
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        text-align: center;
        text-justify: distribute;
        line-height: 1.8;

    }

    .method-container-odd {
        width: 86%;
        margin: auto;

        display: flex;
    }

    .method-box-odd {
        width: 86%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .method-image-odd {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .method-container-odd img {
        display: flex;
        width: 50%;
    }

    .method-text-odd {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

    }


    .method-container-odd img {
        display: flex;
        width: 50%;
    }

    .method-text-odd h1 {
        display: flex;
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        text-align: center;
        margin: 30px auto;
        font-weight: 1;

    }

    .method-text-odd p {
        display: flex;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        text-align: center;
        text-justify: distribute;
        line-height: 1.8;

    }


}