@import 'nav';
@import 'variables';
@import 'homepage';
@import 'mission';
@import 'glider';
@import 'glider2';
@import 'quote';
@import 'juicer';
@import 'contact';
@import 'footer';
@import 'portfolio-page';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Didact Gothic', sans-serif;

    font-family: 'Libre Baskerville', serif;

    font-family: 'Questrial', sans-serif;

    font-family: 'Blinker', sans-serif;

    font-size: 10px;

    height: 100%;
}