@import 'nav';
@import 'variables';
@import 'homepage';
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Didact Gothic', sans-serif;

    font-family: 'Libre Baskerville', serif;

    font-family: 'Questrial', sans-serif;
    font-size: 10px;
}


